*.dex
swakopApp/service/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
swakopApp/service/build/intermediates/incremental/debug/packageDebugResources/merger.xml
swakopApp/service/build/.transforms/ac665fc4067e9cd7bf9342778df0fcc5/results.bin
swakopApp/service/build/.transforms/ac665fc4067e9cd7bf9342778df0fcc5/transformed/bundleLibRuntimeToDirDebug/desugar_graph.bin
swakopApp/.idea/appInsightsSettings.xml
swakopApp/.idea/deploymentTargetSelector.xml
swakopApp/.idea/deploymentTargetSelector.xml
swakopApp/service/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
swakopApp/service/build/outputs/logs/manifest-merger-debug-report.txt
swakopApp/service/build/kotlin/compileDebugKotlin/local-state/build-history.bin
swakopApp/service/build/kotlin/compileDebugKotlin/cacheable/last-build.bin
swakopApp/service/build/intermediates/incremental/packageDebugAssets/merger.xml
swakopApp/service/build/intermediates/incremental/mergeDebugShaders/merger.xml
swakopApp/service/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
swakopApp/service/build/intermediates/incremental/debug/packageDebugResources/merger.xml
swakopApp/service/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
swakopApp/.idea/misc.xml
swakopApp/.idea/deploymentTargetSelector.xml
swakopApp/service/build/outputs/logs/manifest-merger-debug-report.txt
swakopApp/service/build/kotlin/compileDebugKotlin/local-state/build-history.bin
swakopApp/service/build/kotlin/compileDebugKotlin/cacheable/last-build.bin
swakopApp/service/build/intermediates/incremental/packageDebugAssets/merger.xml
swakopApp/service/build/intermediates/incremental/mergeDebugShaders/merger.xml
swakopApp/service/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
swakopApp/service/build/intermediates/incremental/debug/packageDebugResources/merger.xml
swakopApp/service/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
swakopApp/.idea/misc.xml
swakopApp/.idea/deploymentTargetSelector.xml
swakopApp/service/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
swakopApp/service/build/intermediates/incremental/debug/packageDebugResources/merger.xml
swakopApp/service/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
swakopApp/service/build/intermediates/incremental/mergeDebugShaders/merger.xml
swakopApp/service/build/intermediates/incremental/packageDebugAssets/merger.xml
swakopApp/service/build/kotlin/compileDebugKotlin/cacheable/last-build.bin
swakopApp/service/build/kotlin/compileDebugKotlin/local-state/build-history.bin
swakopApp/service/build/outputs/logs/manifest-merger-debug-report.txt
swakopApp/service/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
swakopApp/service/build/intermediates/incremental/debug/packageDebugResources/merger.xml
swakopApp/service/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
swakopApp/service/build/intermediates/incremental/mergeDebugShaders/merger.xml
swakopApp/service/build/intermediates/incremental/packageDebugAssets/merger.xml
swakopApp/service/build/kotlin/compileDebugKotlin/cacheable/last-build.bin
swakopApp/service/build/kotlin/compileDebugKotlin/local-state/build-history.bin
swakopApp/service/build/outputs/logs/manifest-merger-debug-report.txt
.idea
